.btn-light {
  @apply border rounded-full text-white hover:bg-gray-200;
}

.btn-icon {
  @apply font-medium text-gray-600 hover:text-gray-900 hover:border-gray-300 text-sm rounded-full;

  height: 34px;
}

:global(.dark) .btn-icon {
  @apply text-darktext-color hover:border-dark-borderlight hover:text-gray-200;
}

.btn-more {
  @apply text-center w-full flex items-center justify-center py-4 rounded-md bg-gray-100;
}

.btn {
  height: 40px;
  @apply font-medium text-sm;
  @apply duration-300 whitespace-nowrap relative;
}

.btn-wallet {
  @apply text-gray-700 bg-[#ffffff94] backdrop-blur-xl rounded-full;
}

.btn-wallet::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(
    circle farthest-corner at 30% 30%,
    #00c9a7 30%,
    #fefedf 30%
  );
  border-radius: inherit;
  z-index: -1;
  left: 0px;
  top: 0px;
}

.wallet_btn {
  height: 40px;
  @apply relative rounded-md overflow-hidden;
}

.wallet_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(
    to right top,
    #00c9a7,
    #fefedf,
    #f3c5ff,
    #845ec2
  );

  z-index: 0;
}
.wallet_btn span {
  height: 40px;
  @apply px-5 whitespace-nowrap flex items-center justify-center w-full h-full duration-300 text-sm font-medium;
  border-radius: inherit;

  background-color: #ffffff63;
  backdrop-filter: blur(60px);
}

.wallet_btn:hover span {
  background-color: #ffffff28;
  color: #0e0e0e;
}
