.team {
  display: flex;
  align-items: center;
  @apply mt-0;
}

.team_logo {
  @apply p-1 flex items-center justify-center bg-gray-200 rounded-md;
  width: 32px;
  height: 32px;
}

.team_logo img {
  width: 100%;
  height: 100%;
}

.team_name {
  @apply font-medium text-sm;
}

.date {
  @apply font-medium text-xs;
}

.event_name {
  @apply text-gray-400 text-xs;
}

.container {
  @apply rounded-md hover:bg-gray-100 duration-300 p-2 bg-gray-50 shadow-sm mb-2;
}
