.forum {
  @apply flex space-x-4 xl:rounded-2xl lg:rounded-2xl bg-white duration-200 items-center last:mb-0  mb-1 p-3 pl-6;
}

:global(.dark) .forum {
  @apply border-0 border-dark-borderlight;
}

.userimage {
  width: 32px;
  height: 32px;
  @apply rounded-full;
}

.title {
  @apply font-medium;
}

.date {
  @apply font-medium text-xs text-gray-400;
}

.fcontent {
  @apply mb-2 text-gray-700;
}

.fcontent a {
  @apply text-blue-500;
}

:global(.dark) .forum {
  @apply bg-dark-border;
}

:global(.dark) .title {
  @apply text-gray-300;
}

:global(.dark) .fcontent {
  color: #ffffff;
}
