.forum {
  @apply flex space-x-4 hover:bg-gray-50 last:border-b-0 border-b p-3 duration-200 items-center last:mb-0;
}

:global(.dark) .forum {
  @apply border-dark-border bg-transparent;
}

.userimage {
  width: 32px;
  height: 32px;
  @apply rounded-full;
}

.title {
  @apply font-medium;
}

.date {
  @apply font-medium text-xs text-gray-400;
}

.fcontent {
  @apply mb-2 text-gray-700;
}

.fcontent a {
  @apply text-blue-500;
}

:global(.dark) .title {
  @apply text-gray-300;
}

:global(.dark) .fcontent {
  color: #ffffff;
}

.imagecard {
  @apply min-w-[20px] h-[20px] block rounded-full bg-gray-200;
}

.imagecard::after {
  content: "";
  width: 2px;
  height: calc(100% - 32px);
  position: absolute;
  top: 30px;
  left: 10px;
  @apply bg-gray-100;
}

:global(.dark) .imagecard {
  @apply bg-dark-border;
}

:global(.dark) .imagecard::after {
  @apply bg-dark-border;
}

.fbclighttext {
  @apply text-gray-900 text-opacity-40;
}

:global(.dark) .fbclighttext {
  @apply text-white text-opacity-40;
}
