.sidebar {
  @apply fixed left-0 border-r min-h-screen xl:flex lg:flex hidden flex-col justify-center;
  width: 90px;
}

:global(.dark) .sidebar {
  @apply border-dark-border;
}

.group_icon {
  @apply rounded-md text-gray-400 duration-300;

  width: 24px;
  height: 24px;
}

.game_icon {
  width: 28px;
  height: 28px;

  @apply p-1 rounded-[3px] text-white;
}
