.gridContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  @apply relative flex items-end p-4 cursor-pointer;
}

.gridContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, transparent, #000000);
  border-radius: inherit;

  @apply top-0 left-0;
}

.section {
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.title {
  @apply font-medium absolute top-4 left-4 text-white text-xl max-w-xl;
}

:global(.dark) .title {
  @apply text-opacity-70;
}

.big_card {
  @apply h-[420px];
  @apply xl:col-span-6 lg:col-span-6 col-span-12;
  @apply row-span-6;
}

.alt_card {
  @apply xl:h-[260px] lg:h-[260px] md:h-[300px] h-[300px];
  @apply 2xl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6  col-span-12;
}
