.gridContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  @apply rounded-md relative flex items-end p-4 cursor-pointer;
}

.gridContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #000000);
  border-radius: inherit;

  @apply top-0 left-0;
}

.section {
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: inherit;
}

.title {
  @apply font-medium text-white text-lg max-w-xl;
}

.big_card {
  @apply h-[420px];
  @apply xl:col-span-6 lg:col-span-6 col-span-12;
  @apply row-span-6;
}

.alt_card {
  @apply xl:h-[420px] lg:h-[420px] md:h-[310px] h-[210px];
  @apply xl:col-span-3 lg:col-span-6 md:col-span-6 col-span-12;
}
