.header {
  @apply h-[78px] flex items-center w-full dark:bg-black;
}

.menuLink {
  @apply text-sm px-3.5 duration-200 whitespace-nowrap font-semibold last:pr-0;
  @apply hover:text-blue-700;
  @apply text-gray-600;
  @apply text-left;
  @apply mb-2 xl:mb-0 lg:mb-0;
}

.open-menu {
  display: block;
  position: fixed;
  height: 100vh;
  bottom: 0px;
  background-color: #ffffff;
  z-index: 2;
  transform: translateX(-100px);
  animation: openMenu 0.3s forwards;
  box-shadow: rgb(132 148 165 / 20%) 0px 8px 16px;
}

@keyframes openMenu {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}
