.header {
  @apply min-h-[90px] flex items-center w-full dark:bg-black;
}

.menuLink {
  @apply text-sm px-4 duration-200 whitespace-nowrap font-semibold;
  @apply hover:text-gray-700;
  @apply text-gray-400;
  @apply text-left;
  @apply mb-2 xl:mb-0 lg:mb-0;
  @apply py-2 rounded-xl;
  @apply hover:bg-gray-100;
}

:global(.dark) .menuLink {
  @apply hover:bg-dark-borderlight;
}

.open-menu {
  display: block;
  position: fixed;
  height: 100vh;
  bottom: 0px;
  background-color: #ffffff;
  z-index: 2;
  transform: translateX(-100px);
  animation: openMenu 0.3s forwards;
  box-shadow: rgb(132 148 165 / 20%) 0px 8px 16px;
}

@keyframes openMenu {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.avatarDD {
  @apply relative rounded-full;
}

.dropdown {
  display: none;
  min-width: 200px;
  box-shadow: rgba(4, 4, 5, 0.089) 0px 0px 10px 2px;
  transition: all 0.12s ease-in-out 0s;
  @apply xl:absolute lg:absolute fixed z-10 rounded-xl p-2 bg-white;
  @apply xl:right-0 lg:right-0 right-4 xl:top-[50px] lg:top-[50px] top-16 xl:w-auto lg:w-auto w-[calc(100%-32px)];
}

:global(.dark) .dropdown {
  @apply bg-dark-border;
}

.avatarDD:focus-within .dropdown {
  display: block;
}

.dropdown :is(a, div) {
  @apply w-full hover:bg-gray-100 duration-200 block py-2 rounded-xl text-left px-3 mb-1 last:mb-0;
}

:global(.dark) .dropdown :is(a, div) {
  @apply hover:bg-black;
}
