@import "./tailwind.css";

@font-face {
  font-family: "Kurale";
  src: url("/fonts/Kurale.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

* {
  word-wrap: break-word;
}

html,
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

html.dark {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
}

:root {
  --h-padding: 0px 2.5rem;
}

.h-padding {
  padding: 0px 2.5rem;
}

.content-area {
  @apply bg-gray-100 rounded-md h-full;
}
