@import "./tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  padding-bottom: 4000px;
}

:root {
  --h-padding: 0px 2.5rem;
}

.h-padding {
  padding: 0px 2.5rem;
}

.content-area {
  @apply bg-gray-100 rounded-md h-full;
}
