.logo {
  @apply h-9 p-[3px] rounded-xl relative font-semibold text-sm flex items-center justify-center;
}

.logo .bg {
  @apply block absolute w-full h-full left-0 top-0;
  background-image: linear-gradient(-225deg, #eaccf8 48%, #6654f1 100%);
  border-radius: inherit;
}

:global(.dark) .logo span:last-child {
  @apply bg-dark-border bg-opacity-70;
}

.logo span:last-child {
  width: 100%;
  height: 100%;
  background-color: #ffffffa9;
  backdrop-filter: blur(4px);
  @apply rounded-xl flex items-center justify-center font-black;
}
